{% extends "utils/base.html" %}

{% block start %}
<div class="container">
    {% if hotel.hotels_images.first %}
    <img src="/media/{{hotel.hotels_images.first.image}}" class="card-img-top" alt="..."
        style="margin-top: 10px; max-height: 250px; width: 500px;">
    {% else %}
    <img src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
        class="card-img-top" alt="..." style=" margin-top: 10px; max-height: 250px; width: 500px;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{hotel.hotel_name}}</h5>
        Price <span class="badge text-bg-danger">{{ hotel.hotel_price }}</span>
        Offer Price <span class="badge text-bg-success">{{ hotel.hotel_offer_price }}</span>
        <hr>

        <!-- Display the hotel location -->
        <p>Address : {{ hotel.hotel_location }}</p>
        <hr>

        <p class="card-text"><b>Description</b> : {{hotel.hotel_description | safe}}</p>
        {% for amenity in hotel.amenities.all %}
        <span class="badge text-bg-primary">{{ amenity.name }}</span>
        {% endfor %}

        
    </div>
    {% if request.user.is_authenticated %}

     <form method ="POST" style="width: 180px;" >
            {% csrf_token %}
        {% include "utils/alerts.html" %}

            <div class="mb-3" >
                <label for="exampleInputEmail1" class="form-label">check_in_date</label>
                <input type="date" name="check_in_date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">check_out_date</label>
                <input type="date" name="check_out_date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>

            <button type="submit" class="btn btn-danger mt-5">Book now</button>
        </form>
     {% else %}

     <a style="margin-top: 9px;" href="{% url 'login_page' %}" class="btn btn-success">Login</a>

     {% endif %}

</div>

{% endblock %}