<!--index.html-->
{% extends "utils/base.html" %}

{% block start %}


<div class="container mt-5 pt-5 pb-5">
    <div class="col-6 mx-auto">
    <form class="d-flex">
      <input type="text" name="search" class="form-control" placeholder="Search" style="margin-right: 10px;">
      <select class="form-control" name="sort_by">
        <option value="">Choose</option>
        <option  value="sort_low">Sort by Low to high</option>
        <option  value="sort_high">Sort by high to Low</option>
      </select>
      <button type="submit" class="btn btn-warning mt-1" style="margin-left: 10px;">Search</button>
    </form>
  </div>
  <div class="row">
    {% for hotel in hotels %}
    <div class="col-md-3 mt-5">
      <div class="card shadow" style="width: 18rem;">
        <a href="{% url 'hotel_description' hotel.hotel_slug %}" style="text-decoration: none; color: black;">
        {% if hotel.hotels_images.first %}
        <img src="/media/{{hotel.hotels_images.first.image}}" class="card-img-top" alt="...">
        {% else %}
        <img
          src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
          class="card-img-top" alt="...">
          {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotel_name}}</h5>
          Price <span class="badge text-bg-danger">{{ hotel.hotel_price }}</span>
          Offer Price <span class="badge text-bg-success">{{ hotel.hotel_offer_price }}</span>
          <hr>

          <!-- Display the hotel location -->
          <p>Address : {{ hotel.hotel_location }}</p>
          <hr>  
         
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>

        </div>
      </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}